---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "minimal-mistakes/kaist-overrides";

/* Kaist skin: white page */
html {
  background-color: #ffffff;
}

body.site--skin-kaist {
  background-color: #ffffff;
}

.publication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: $link-color;
}

.author__urls a {
    color: $link-color !important;
}

a:hover {
    color: $link-color-hover !important;
    text-decoration: underline !important;
}

.author__urls a:hover,
.page__footer-follow a:hover {
    color: $link-color-hover !important;
    text-decoration: underline !important;
}
