---
layout: archive
---

{{ content }}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->
<h3 class="archive__subtitle">About Me</h3>
<p style="font-size: 16px;">I am an M.S. student at KAIST School of Computing, advised by <a href="https://mhsung.github.io/">Prof. Minhyuk Sung</a>.</p> 
<p style="font-size: 16px;">My research interest is vision & language multi-modality, and  I'm especially focusing on the relationship between 3D geometry and language. I am working on the next step in AI, where machines can think more complexly utilizing the information of multiple modalities like humans.</p>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
